@import "_nullstyle";
// @font-face {
//    font-family: "Golos";
//    src:
//       url("../font/Golos-Text_Regular.woff2") format("woff2"),
//       url("../font/Golos-Text_Regular.woff") format("woff");
//    src: local("Golos Text Regular"), local("Golos-Text_Regular");
//    font-weight: 400;
//    font-style: normal;
// }

@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

body {
   //overflow: hidden;
   font-family: "Unbounded", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   background: #172224;
}
.container {
   max-width: 1472px;
   margin: 0px auto;
}
.wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.butt {
   cursor: pointer;
   width: fit-content;
   display: flex;
   align-items: center;
   gap: 40px;
   padding: 12px 24px;
   box-sizing: border-box;
   border: 2px solid rgb(208, 252, 27);
   border-radius: 30px;

   background: linear-gradient(87.78deg, rgb(74, 255, 0) -105.547%, rgb(227, 251, 30) 99.839%);
}
.header {
   .connect {
      display: flex;
      gap: 32px;
      align-items: center;
   }
   nav {
      ul {
         display: flex;
         gap: 40px;
         align-items: center;
      }
      a {
         font-size: 16px;
         color: #fff;
      }
   }
   padding: 20px 0px;
}

.intro {
   .brands {
      margin: 150px 0px 0px 0px;
      img {
         max-width: 100%;
         object-fit: cover;
      }
   }
   padding: 90px 0px 0px 0px;
   ul {
      li {
         padding: 12px 24px 12px 24px;
         color: rgb(255, 255, 255);
         font-size: 14px;
         font-weight: 250;
         line-height: 120%;
         letter-spacing: 0%;
         text-align: center;
      }
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      margin: 0px 0px 66px 0px;
   }
   .info {
      max-width: 590px;
   }
   h2 {
      margin: 0px 0px 48px 0px;
      color: rgb(255, 255, 255);
      font-size: 36px;
      font-weight: 300;
      line-height: 120%;
      letter-spacing: 0%;
      text-align: left;
   }
   h1 {
      margin: 0px 0px 10px 0px;
      background: linear-gradient(90deg, rgb(212, 255, 0), rgb(39, 247, 248));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      font-size: 76px;
      font-weight: 800;
      line-height: 120%;
      letter-spacing: 0%;
      text-align: left;
      text-transform: uppercase;
   }
   .butt {
      padding: 12px 55px;
   }
   .inrto-img {
      width: 80%;
      overflow: hidden;
      position: absolute;
      top: -380px;
      right: 0px;
      z-index: -1;
   }
   
}

.border-grad {
   --b: 2px; /* border width*/
   --r: 30px; /* the radius */

   color: #313149;
   padding: calc(var(--b) + 2px);
   display: inline-block;
   position: relative;
   z-index: 0;
}
.border-grad:before {
   content: "";
   position: absolute;
   z-index: -1;
   inset: 0;
   padding: var(--b);
   border-radius: var(--r);
   background: var(--c, linear-gradient(to right, rgb(74, 255, 0), rgb(227, 251, 30)));
   -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
   mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
   -webkit-mask-composite: xor;
   mask-composite: exclude;
}
